@media(min-width: 500px) and (max-width: 770px) {
  .grid {
    flex-direction: column;

  }

  .shop-card {
    display: flex;
    flex-direction: row;

    &__pic {
      width: 25%;
    }
  }

  .button-bar {
    flex-direction: column;
    height: 100%;
    border: 0;
    border-left: 0.25rem solid $c-primary;

    > * + * {
      border-left: 0;
    }
  }

  .dropdown {
    .dropdown__list {
      right: 100%;
      flex-direction: row-reverse;
      padding: 0;
      border: 0;
    }

    > * + * {
      border: 0;
    }
  }
}
