@media(min-width: 500px) and (max-width: 770px) {


  .grid {
    flex-direction: column;
  }

  .shop-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__pic {
      width: 25%;
    }

    &__options {
      align-items: flex-end;
    }

  }

  .button-bar {
    flex-direction: column;
    height: 100%;
    border: 0;
    border-left: 0.25rem solid $c-primary;

    > * + * {
      border: 0;
      border-top: 0.25rem solid $c-primary;
    }

  }

  .dropdown {

    &__list {
      bottom: 50%;
      left: auto;
      right: 100%;
      flex-direction: row;

      transform: translate(0, 50%);

      border: 0.25rem solid $c-primary;


      > * + * {
        border-top: 0;
        border-left: 0.25rem solid $c-primary;
      }
    }
  }
}
