// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';

$c-primary: #3473b5;
$c-jamaica1: #54b0d2;
$c-jamaica2: #17b63e;
$c-jamaica3: #4a048e;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;

.section {
  padding: 2rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex-basis: calc(100% / 3 - 2rem);
  flex-grow: 1;
  margin: 1rem;
  border: 0.25rem $c-primary solid;
}

.shop-card {
  &__title {
    color: $c-primary;
  }

  &__description {
    color: $c-primary;
    padding: 0 1rem;
  }

  &__pic {
    padding: 1rem;
  }

  &__info {
    text-align: center;
  }

  &__options {


  }

}



.button-bar {
  display: flex;
  min-height: 2rem;
  border-top: 0.25rem $c-primary solid;


  &__button {
    flex-grow: 1;
    border: 0;
    background: none;
    color: $c-primary;

    &:hover {
      background-color: $c-jamaica1;
    }
  }

  > * + * {
    border-left: 0.25rem solid $c-primary;
  }
}



.dropdown__list {
  display: none;
}
