// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';

$c-blue: #4170cb;
$c-jamaica1: #54b0d2;
$c-jamaica2: #17b63e;
$c-jamaica3: #4a048e;

.section {
  padding: 2rem;
}

.container {
  max-width: 65rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex-basis: calc(100% / 3 - 2rem);
  flex-grow: 1;
  margin: 1rem;
  border: 0.25rem $c-blue solid;
}

.shop-card {
  display: flex;
  flex-direction: column;

  &__title {
    color: $c-blue;
  }

  &__description {
    color: $c-blue;
  }

  &__pic {
    padding: 1rem;
  }

  &__info {
    text-align: center;
  }

  &__options {
    border-top: 0.25rem $c-blue solid;

  }

}

.button-bar {
  display: flex;
  min-height: 2rem;

  > * + * {
    border-left: 0.25rem $c-blue solid;
  }

  .button-bar__button {
    flex-grow: 1;
    transition: background-color 0.5s ease;
  }

  &:hover {
    background-color: $c-jamaica1;
  }
}

.dropdown__list {
  display: none;
}
